### Header

In [1]:
# import libraries

# maths
import numpy as np
import pandas as pd
#import scipy.stats as stats
#from pandas.api.types import is_numeric_dtype

# visual
#from matplotlib_venn import venn2
#import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline

# modelling
# from sklearn import linear_model
# from sklearn.linear_model import Ridge,LinearRegression,LogisticRegression
# from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
# from sklearn.preprocessing import StandardScaler,PolynomialFeatures
# from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,accuracy_score
# from sklearn.pipeline import make_pipeline,Pipeline

# nlp
# from sklearn.feature_extraction.text import CountVectorizer,HashingVectorizer,TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from nltk.stem import PorterStemmer,WordNetLemmatizer
# from nltk.tokenize import sent_tokenize, word_tokenize
# from nltk.corpus import stopwords
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# import spacy
# from spacy.tokens import Doc

# web
#import requests
#import json

# others
import os
import re
import time
import datetime as datetime

In [2]:
# file paths

input_path = '../data/2_input/'
clean_path = '../data/3_clean/'
output_path = '../data/4_output/'

image_path = '../images/'

### Import Data

In [3]:
spray = pd.read_csv(input_path+'spray.csv')

### Inspect Data

In [4]:
spray.shape

(14835, 4)

In [5]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [6]:
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [7]:
spray[spray.Time.isnull()]

            Date Time   Latitude  Longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
...          ...  ...        ...        ...
1584  2011-09-07  NaN  41.992372 -87.816367
1585  2011-09-07  NaN  41.992468 -87.815839
1586  2011-09-07  NaN  41.992516 -87.815311
1587  2011-09-07  NaN  41.992564 -87.814735
1588  2011-09-07  NaN  41.992612 -87.814303
1589  2011-09-07  NaN  41.992612 -87.813775
1590  2011-09-07  NaN  41.992612 -87.813343
1591  2011-09-07  NaN  41.992660 -87.812767
1592  2011-09-07  NaN  41.992660 -87.812191
1593  2011-09-07  NaN  41.992612 -87.811663
1594  2011-09-07  NaN  41.992660 -87.811279
1595  2011-09-07  NaN  41.992660 -87.810847
1596  2011-09-07  NaN  41.992612 -87.810415
1597  2011-09-07  NaN  41.992660 -87.809455
1598  2011-09-07  NaN  41.992660 -87.809983
1599  2011-09-07  NaN  41.992708 -87.808927
1600  2011-09-07  NaN  41.992708 -87.808399
1601  2011-09-07  NaN  41.992756 -87.807775
1602  2011-09-07  NaN  41.992756 -87.807199
1603  2011-09-07  NaN  41.996164 -87.813727
1604  2011-09-07  NaN  41.995732 -87.813679
1605  2011-09-07  NaN  41.994916 -87.813727
1606  2011-09-07  NaN  41.992948 -87.813775
1607  2011-09-07  NaN  41.996644 -87.811567
1608  2011-09-07  NaN  41.996260 -87.811567
1609  2011-09-07  NaN  41.995876 -87.811615
1610  2011-09-07  NaN  41.995972 -87.810271
1611  2011-09-07  NaN  41.995684 -87.810319
1612  2011-09-07  NaN  41.994724 -87.810415
1613  2011-09-07  NaN  41.993092 -87.810415

[584 rows x 4 columns]

### Clean Data

In [8]:
#spray['latitude'] = spray.Latitude.apply(int)
#spray['longitude'] = spray.Longitude.apply(int)

def create_yr(x): 
    return x.split('-')[0] 

def create_mth(x): 
    return x.split('-')[1] 

def create_day(x): 
    return x.split('-')[2] 

def rename_columns (columns):
    return [column.lower() for column in columns]

def clean_data(df): 
    df['year_spray'] = df.Date.apply(create_yr)
    df['month_spray'] = df.Date.apply(create_mth)
    df['day_spray'] = df.Date.apply(create_day)
    #df['latitude'] = df.Latitude.apply(int)
    #df['longitude'] = df.Longitude.apply(int)
    df.drop(['Date', 'Time'], axis = 1, inplace = True)
    df.columns = rename_columns(df.columns)
    return df

spray = clean_data(spray)

In [9]:
spray.head()

    latitude  longitude year_spray month_spray day_spray
0  42.391623 -88.089163       2011          08        29
1  42.391348 -88.089163       2011          08        29
2  42.391022 -88.089157       2011          08        29
3  42.390637 -88.089158       2011          08        29
4  42.390410 -88.088858       2011          08        29

In [10]:
#col_no_time = ['date','latitude','longitude']
#frequency = spray.groupby(col_no_time,as_index=False).time.count()

In [11]:
#frequency[frequency.time>1]

### Output Data

In [12]:
spray.to_csv(clean_path+'spray_clean.csv', index = False)